.main-bg {
    background-image: url('../img/dragon-scales.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap-espaco);
    
}

.section-view {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}